<div class="container">
  <div class="row mt-5">
    <div class="col-8">
      <div class="row">
        <div id="img1" class="col-6">
          <div class="d-block mb-4 h-100" (click)="animar()">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
           </div>
        </div>
        <div id="img2" class="col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
           </div>
        </div>
      </div>
      
      <div class="row">
        <div id="img3" class="col-6">
          <div class="d-block mb-4 h-100">
             <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            </div>
        </div>
        <div id="img4" class="col-6">
          <div class="d-block mb-4 h-100">
             <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            </div>
        </div>
      </div>
    </div>
  </div>  
</div> 
