.miAnimacion{
-webkit-transition: all .4s ease-in;
-moz-transition: all .4s ease-in;
-ms-transition: all .4s ease-in;
-o-transition: all .4s ease-in;
transition: all .4s ease-in;
opacity: 1;
transform: scale(1.15);
-ms-transform: scale(1.15);
-webkit-transform: scale(1.15);
}