img{
 position: relative;
 width: 100%;
}

p{
 color: white;
 font-weight: bolder;
 position: absolute;
 bottom: 8px;
 left: 16px;
 font-size: 18px;
}

.miAnimacion{
 -webkit-transition: all .4s ease-in;
 -moz-transition: all .4s ease-in;
 -ms-transition: all .4s ease-in;
 -o-transition: all .4s ease-in;
 transition: all .4s ease-in;
}

#miDiv2{
 position: relative;
}
.miAnimacion2{
 position: absolute;
 -webkit-transition: all .4s ease-in;
 -moz-transition: all .4s ease-in;
 -ms-transition: all .4s ease-in;
 -o-transition: all .4s ease-in;
 transition: all .4s ease-in;
}