<div class="row mt-3">
  <div class="col-8">
      <!-- <img class="img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt=""> -->
    <div class="row">
       <div id="img1" class="col-6">
        <div class="d-block mb-4 h-100" (click)="animar(1)">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
          <p>SUMATE a la campaña de donacion de sangre</p>
         </div>
      </div>
      <div id="img2" class="col-6">
        <div id="miDiv2" class="d-block mb-4 h-100" (click)="animar(2)">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
          <p>Ya RESERVASTE tu sesion de masajes</p>
         </div>
      </div> 
    </div>
    
    <div class="row">
       <div id="img3" class="col-6">
        <div class="d-block mb-4 h-100" (click)="animar(3)">
           <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
           <p>Incorporamos tecnologia aplicada a seguridad</p>
          </div>
      </div>
      <div id="img4" class="col-6">
        <div class="d-block mb-4 h-100" (click)="animar(4)">
           <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
           <p>Incluimos mujeres a la linea de Emergencia</p>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-4">
    <app-conectividad></app-conectividad>
  </div>
</div>
