<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : 'fb-root',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v4.0'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

<div class="row justify-content-center">

  <button type="button" style=" border: 2px solid rgba(217, 83, 78, 0.75); border-radius: 40px; padding-right:" class="btn btn-danger col-11">Nuestros Beneficios</button>
  <button type="button" style=" border: 2px solid rgba(217, 83, 78, 0.75); border-radius: 40px;" class="btn btn-danger col-11 mt-1">Politicas FEMSA</button>
  <button type="button" style=" border: 2px solid rgba(217, 83, 78, 0.75); border-radius: 40px;" class="btn btn-danger col-11 mt-1">¿Que mejorarias?</button>

  <div class="mt-2">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFemsaAR%2F&tabs=timeline&width=365&height=420&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="365" height="420" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


  <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v4.0"></script>
    <div class="fb-page" data-href="https://www.facebook.com/FemsaAR/" data-tabs="timeline" data-width="365" data-height="420" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/FemsaAR/" class="fb-xfbml-parse-ignore">
      </blockquote>
    </div>
  </div>
</div>
